.highlight-item{
    min-width: 150px;
    border: 1px solid black;
    background: -webkit-linear-gradient(
        348deg,
        rgba(22, 39, 44, 1) 0%,
        rgba(30, 59, 76, 1) 46%,
        rgba(26, 31, 38, 1) 100%
    );
    padding: 15px;
    opacity: 0.4;
    border-radius: 24px;
}

.highlight-subtext{
    display: flex;
    align-items: row;
    justify-content: space-between;
}

.highlight-value{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}