.loader-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loader-container {
    display: flex;
    width: 500px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 0px 20px 20px;
    border-radius: 12px;
    background: #1c1c1c;
}

.load-img {
    height: 300px;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 40px;
}

.forecast-resp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-container {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background: #1c1c1c;
    opacity: 0.8;
}

.user-location-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.temp-container {
    font-size: 34px;
    font-weight: bold;
}

.temp-container span {
    font-size: 26px;
}

.temp-location {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.temperature{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.temp-desc{
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}