.loader-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loader-container {
    display: flex;
    width: 500px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 0px 20px 20px;
    border-radius: 12px;
    background: -webkit-linear-gradient(
        348deg,
        rgba(22, 39, 44, 1) 0%,
        rgba(30, 59, 76, 1) 46%,
        rgba(26, 31, 38, 1) 100%
    );
}

.load-img {
    height: 300px;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding: 100px 40px;
}

.home-container {
    /* flex: 1; */
    width: 250px;
    border-right: 1px solid black;
    /* padding: 40px 10px; */
    padding: 20px;
    border-radius: 20px;
    background: -webkit-linear-gradient(
        348deg,
        rgba(22, 39, 44, 1) 0%,
        rgba(30, 59, 76, 1) 46%,
        rgba(26, 31, 38, 1) 100%
    );
    opacity: 0.8;
}

.user-location-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.temp-container {
    font-size: 34px;
    font-weight: bold;
}

.temp-container span {
    font-size: 26px;
}

.temp-location {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.temperature{
    display: flex;
    align-items: center;
    gap: 20px;
}

.temp-desc{
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}