*{
    margin: 0;
    padding: 0;
}

.App{
    position: absolute;
    background: url("./assets/background-img.avif");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}